@import 'variables';

body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background: $background-colour;
	color: $font-colour;

	font-family: $font-family;
}
a {
	color: inherit;
	text-decoration: none;
}
footer {
	display: flex;
	justify-content: space-between;

	a {
		color: #b19cd9;
	}
}