//! Fonts
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//! Colours
// *  Luminol
$accent-colour: #2aaafc;
$background-colour: #272829;
$font-colour: white;

// * Windows XP - Luna, Blue
$luna-background: #6487dc;
$navbar-background: #f1f1f1;